# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Cython
*.c
*.cpp

# PyCharm
*.idea/

# Sphinx documentation
docs/_build/

# libbson files
libbson
mongo-c-driver-*


# Benchmark and test output files
results/*
xunit-results/

# Miscellaneous
.DS_Store
drivers-evergreen-tools
atlas
.evergreen/.local_atlas_uri
pwfile
mo-expansion.*

# Secrets
secrets-export.sh
env.sh

# Repo checkouts
haystack-fulltext/haystack-core-integrations
haystack-embeddings/haystack-core-integrations
pymongo-voyageai/pymongo-voyageai
llama-index-python-vectorstore/llama_index/
langchain-python/langchain-mongodb/
