###############################################
# Evergreen Template for AI-ML-Testing Pipeline
###############################################

# Mark a failure as a system/bootstrap failure (purple box) rather then a task
# failure by default.
# Actual testing tasks are marked with `type: test`
command_type: system

# Protect yourself against rogue test case, or curl gone wild, that runs forever
# Good rule of thumb: the averageish length a task takes, times 5
# That roughly accounts for variable system performance for various buildvariants
exec_timeout_secs:
  3600 # 60 minutes is the longest we'll ever run (primarily
  # for macos hosts)

# What to do when evergreen hits the timeout (`post:` tasks are run automatically)
timeout:
  - command: shell.exec
    params:
      script: |
        ls -la

functions:
  "fetch source":
    - command: git.get_project
      type: setup
      params:
        directory: "src"

  "fetch secrets":
    - command: ec2.assume_role
      params:
        role_arn: ${drivers_test_secrets_role}
    - command: subprocess.exec
      type: setup
      params:
        working_dir: "src"
        binary: bash
        include_expansions_in_env: [AWS_SECRET_ACCESS_KEY, AWS_ACCESS_KEY_ID, AWS_SESSION_TOKEN]
        args: [.evergreen/fetch-secrets.sh]

  "fetch repo":
    - command: subprocess.exec
      type: test
      params:
        include_expansions_in_env: [DIR, REPO_ORG, REPO_BRANCH]
        working_dir: "src"
        binary: bash
        args: [.evergreen/fetch-repo.sh]

  "assume role":
    - command: ec2.assume_role
      params:
        role_arn: ${drivers_test_secrets_role}

  "execute tests":
    - command: subprocess.exec
      type: test
      params:
        include_expansions_in_env: [DIR, AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_SESSION_TOKEN]
        working_dir: "src"
        binary: bash
        args: [.evergreen/execute-tests.sh]

  "setup local atlas":
    - command: subprocess.exec
      type: test
      retry_on_failure: true
      params:
        include_expansions_in_env: [DIR, AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_SESSION_TOKEN]
        working_dir: "src"
        binary: bash
        args:
          - .evergreen/provision-atlas.sh

  "setup community atlas":
    - command: subprocess.exec
      type: test
      retry_on_failure: true
      params:
        env:
          COMMUNITY: "1"
        include_expansions_in_env: [DIR, AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_SESSION_TOKEN]
        working_dir: "src"
        binary: bash
        args:
          - .evergreen/provision-atlas.sh

  "setup remote atlas":
    - command: subprocess.exec
      type: test
      params:
        include_expansions_in_env: [DIR, AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_SESSION_TOKEN]
        working_dir: "src"
        binary: bash
        args: [.evergreen/setup-remote.sh]

pre_error_fails_task: true
post_error_fails_task: true
pre:
  - func: "assume role"
  - func: "fetch source"
  - func: "fetch secrets"
post:
  - command: subprocess.exec
    type: setup
    params:
      working_dir: "src"
      binary: bash
      args: [drivers-evergreen-tools/.evergreen/teardown.sh]
  - command: subprocess.exec
    type: setup
    params:
      include_expansions_in_env: [DIR, REPO_ORG, REPO_BRANCH]
      working_dir: "src"
      binary: bash
      args: [.evergreen/teardown.sh]

tasks:
  - name: test-semantic-kernel-python-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-semantic-kernel-python-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-semantic-kernel-csharp-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-semantic-kernel-csharp-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-langchain-python-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-langchain-python-community
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup community atlas"
      - func: "execute tests"

  - name: test-langchain-python-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-langgraph-python-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-langgraph-python-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-langgraph-store-python-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-langgraph-store-python-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-chatgpt-retrieval-plugin-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-chatgpt-retrieval-plugin-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-llama-index-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-llama-index-remote
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-docarray-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-docarray-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-pymongo-voyageai-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-pymongo-voyageai-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-crewai-tools-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-crewai-tools-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-haystack-embeddings-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-haystack-embeddings-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-haystack-fulltext-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-haystack-fulltext-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-langchaingo-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "execute tests"

  - name: test-langchain-js-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"
      - command: attach.xunit_results
        params:
          file: src/langchain-js/langchainjs/libs/providers/langchain-mongodb/results.xml

  - name: test-n8n-js-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "execute tests"

  - name: test-langchain-js-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"
      - command: attach.xunit_results
        params:
          file: src/langchain-js/langchainjs/libs/providers/langchain-mongodb/results.xml

  - name: test-mem0-python-local
    tags: [ local ]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-mem0-python-remote
    tags: [ remote ]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-pymongo-search-utils-local
    tags: [local]
    commands:
      - func: "fetch repo"
      - func: "setup local atlas"
      - func: "execute tests"

  - name: test-pymongo-search-utils-remote
    tags: [remote]
    commands:
      - func: "fetch repo"
      - func: "setup remote atlas"
      - func: "execute tests"

  - name: test-self-community
    tags: [local]
    commands:
      - func: "setup local atlas"
      - func: "execute tests"


buildvariants:
  - name: test-semantic-kernel-python-rhel
    display_name: Semantic-Kernel RHEL Python
    tags: [python]
    expansions:
      DIR: semantic-kernel-python
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-semantic-kernel-python-local
      # TODO: INTPYTHON-430
      # - name: test-semantic-kernel-python-remote
      #   batchtime: 10080  # 1 week

  - name: test-semantic-kernel-csharp-rhel
    display_name: Semantic-Kernel RHEL CSharp
    tags: [csharp]
    expansions:
      DIR: semantic-kernel-csharp
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-semantic-kernel-csharp-local
      # - name: test-semantic-kernel-csharp-remote
      #   batchtime: 10080  # 1 week

  - name: test-langchain-python-rhel
    display_name: Langchain Ubuntu Python
    tags: [python]
    expansions:
      DIR: langchain-python
    run_on:
      - ubuntu2204-small
    tasks:
      - name: test-langchain-python-local
      - name: test-langchain-python-community
      - name: test-langchain-python-remote
        batchtime: 10080  # 1 week

  - name: test-langgraph-python-rhel
    display_name: Langgraph RHEL Python
    tags: [python]
    expansions:
      DIR: langgraph-python
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-langgraph-python-local
      - name: test-langgraph-python-remote
        batchtime: 10080  # 1 week

  - name: test-langgraph-store-python-rhel
    display_name: Langgraph Store RHEL Python
    tags: [python]
    expansions:
      DIR: langgraph-store-python
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-langgraph-store-python-local
      - name: test-langgraph-store-python-remote
        batchtime: 10080  # 1 week

  # TODO: INTPYTHON-668
  # - name: test-chatgpt-retrieval-plugin-python-rhel
  #   display_name: ChatGPT Retrieval Plugin
  #   tags: [python]
  #   expansions:
  #     DIR: chatgpt-retrieval-plugin
  #   run_on:
  #     - rhel8.9-small
  #   tasks:
  #     - name: test-chatgpt-retrieval-plugin-local
  #     - name: test-chatgpt-retrieval-plugin-remote
  #       batchtime: 10080  # 1 week

  - name: test-llama-index-vectorstore-python-rhel
    display_name: LlamaIndex RHEL Vector Store
    tags: [python]
    expansions:
      DIR: llama-index-python-vectorstore
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-llama-index-local
      # TODO: INTPYTHON-440
      # - name: test-llama-index-remote
      #   batchtime: 10080  # 1 week

  - name: test-docarray-python-rhel
    display_name: DocArray RHEL
    tags: [python]
    expansions:
      DIR: docarray
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-docarray-local
      - name: test-docarray-remote

  - name: test-pymongo-voyageai-python-rhel
    display_name: PyMongo-VoyageAI RHEL
    tags: [python]
    expansions:
      DIR: pymongo-voyageai
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-pymongo-voyageai-local
      - name: test-pymongo-voyageai-remote

  - name: test-crewai-tools-python-rhel
    display_name: CrewAI-Tools Ubuntu
    tags: [python]
    expansions:
      DIR: crewai-tools
    run_on:
      - ubuntu2404-small
    tasks:
      - name: test-crewai-tools-local
      - name: test-crewai-tools-remote

  - name: test-haystack-embeddings-python-rhel
    display_name: Haystack Embeddings RHEL
    tags: [python]
    expansions:
      DIR: haystack-embeddings
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-haystack-embeddings-local
      # TODO: INTPYTHON-465
      # - name: test-haystack-embeddings-remote

  - name: test-haystack-fulltext-python-rhel
    display_name: Haystack FullText RHEL
    tags: [python]
    expansions:
      DIR: haystack-fulltext
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-haystack-fulltext-local
      # TODO: INTPYTHON-465
      # - name: test-haystack-fulltext-remote

  - name: test-langchaingo-golang-ubuntu
    display_name: LangchainGo Ubuntu2204
    tags: [golang]
    expansions:
      DIR: langchaingo-golang
    run_on:
      - ubuntu2204-small
    tasks:
      - name: test-langchaingo-local

  - name: test-langchain-javascript-ubuntu
    display_name: LangchainJS Ubuntu2204
    tags: [javascript]
    expansions:
      DIR: langchain-js
    run_on:
      - ubuntu2204-small
    tasks:
      - name: test-langchain-js-local
      - name: test-langchain-js-remote

  - name: test-n8n-javascript-ubuntu
    display_name: n8n Ubuntu2204
    tags: [javascript]
    expansions:
      DIR: n8n-js
    run_on:
      - ubuntu2204-small
    tasks:
      - name: test-n8n-js-local

  - name: test-mem0-python-rhel
    display_name: mem0 RHEL Python
    tags: [python]
    expansions:
      DIR: mem0-python
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-mem0-python-local
      - name: test-mem0-python-remote
        batchtime: 10080  # 1 week

  - name: test-pymongo-search-utils-python-rhel
    display_name: PyMongo Search Utils RHEL
    tags: [python]
    expansions:
      DIR: pymongo-search-utils
    run_on:
      - rhel8.9-small
    tasks:
      - name: test-pymongo-search-utils-local
      - name: test-pymongo-search-utils-remote

  - name: test-self-ubuntu
    display_name: Self Test Ubuntu
    tags: [python]
    expansions:
      DIR: .evergreen/mongodb-community-search
    run_on:
      - ubuntu2204-small
    tasks:
      - name: test-self-community