###############################################
# Evergreen Template for AI-ML-Testing Pipeline
###############################################

# Mark a failure as a system/bootstrap failure (purple box) rather then a task
# failure by default.
# Actual testing tasks are marked with `type: test`
command_type: system

# Protect yourself against rogue test case, or curl gone wild, that runs forever
# Good rule of thumb: the averageish length a task takes, times 5
# That roughly accounts for variable system performance for various buildvariants
exec_timeout_secs:
  3600 # 60 minutes is the longest we'll ever run (primarily
  # for macos hosts)

# What to do when evergreen hits the timeout (`post:` tasks are run automatically)
timeout:
  - command: shell.exec
    params:
      script: |
        ls -la

functions:
  "fetch source":
    - command: git.get_project
      params:
        directory: "src"

  "fetch repo":
    - command: shell.exec
      params:
        working_dir: "src"
        script: |
          if [ ! -d "${DIR}" ]; then
            echo '${REPO_NAME} could not be found' 1>&2
            exit 1
          fi
          # Apply patches to upstream repo if desired.
          cd ${DIR}
          git clone ${CLONE_URL}
          if [ -d "patches" ]; then
            cd ${REPO_NAME}
            echo "Applying patches."
            git apply  ../patches/*
          fi

  "execute tests":
    - command: subprocess.exec
      type: test
      params:
        add_expansions_to_env: true
        working_dir: "src/${DIR}/${REPO_NAME}"
        binary: bash
        env:
          atlas: ${workdir}/src/atlas/bin/atlas
        args:
          - ../run.sh

  "setup atlas cli":
    - command: subprocess.exec
      type: setup
      params:
        add_expansions_to_env: true
        continue_on_err: true
        working_dir: "src"
        binary: bash
        env:
          atlas: ${workdir}/src/atlas/bin/atlas
        args:
          - .evergreen/provision-atlas.sh

pre:
  - func: "fetch source"
  - func: "setup atlas cli"

tasks:
  - name: test-semantic-kernel-python
    commands:
      - func: "fetch repo"
      - func: "execute tests"

  - name: test-semantic-kernel-csharp
    commands:
      - func: "fetch repo"
      - func: "execute tests"

  - name: test-langchain-python
    commands:
      - func: "fetch repo"
      - func: "execute tests"

  - name: test-chatgpt-retrieval-plugin
    commands:
      - func: "fetch repo"
      - func: "execute tests"

  - name: test-llama-index
    commands:
      - func: "fetch repo"
      - func: "execute tests"

buildvariants:
  - name: test-semantic-kernel-python-rhel
    display_name: Semantic-Kernel RHEL Python
    expansions:
      DIR: semantic-kernel-python
      REPO_NAME: semantic-kernel
      CLONE_URL: https://github.com/microsoft/semantic-kernel.git
      DATABASE: pyMSKTest
    run_on:
      - rhel87-small
    tasks:
      - name: test-semantic-kernel-python

  - name: test-semantic-kernel-csharp-rhel
    display_name: Semantic-Kernel RHEL CSharp
    expansions:
      DIR: semantic-kernel-csharp
      REPO_NAME: semantic-kernel
      CLONE_URL: https://github.com/microsoft/semantic-kernel.git
      DATABASE: dotnetMSKNearestTest
    run_on:
      - rhel87-small
    tasks:
      - name: test-semantic-kernel-csharp

  - name: test-langchain-python-rhel
    display_name: Langchain RHEL Python
    expansions:
      DIR: langchain-python
      REPO_NAME: langchain
      CLONE_URL: https://github.com/langchain-ai/langchain.git
      DATABASE: langchain_test_db
    run_on:
      - rhel87-small
    tasks:
      - name: test-langchain-python

  - name: test-chatgpt-retrieval-plugin-rhel
    display_name: ChatGPT Retrieval Plugin
    expansions:
      DIR: chatgpt-retrieval-plugin
      REPO_NAME: chatgpt-retrieval-plugin
      # TODO - Update CLONE_URL: [PYTHON-4291] [PYTHON-4129]
      CLONE_URL: -b feature/mongodb-datastore --single-branch https://github.com/caseyclements/chatgpt-retrieval-plugin.git
      DATABASE: chatgpt_retrieval_plugin_test_db
    run_on:
      - rhel87-small
    tasks:
      - name: test-chatgpt-retrieval-plugin

  - name: test-llama-index-rhel
    display_name: LlamaIndex RHEL
    expansions:
      DIR: llama_index
      REPO_NAME: llama_index
      # TODO - Update CLONE_URL once pull-request is merged
      CLONE_URL: -b feature/mongodb-datastore --single-branch https://github.com/caseyclements/llama_index.git
      DATABASE: llama_index_test_db
    run_on:
      - rhel87-small
    tasks:
      - name: test-llama-index
